body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{ margin:0;padding:0;}
body{ font:12px/1.5 "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; color:#333;}
select,input,button{ vertical-align:middle;font-size:100%;}
ul,ol,li{ list-style:none;}
fieldset,img{ border:0;}
em{ font-style:normal;}
.clearfix:after{ content:"."; display:block; visibility:hidden; clear:both; height:0; font-size:0;}
.clearfix{ *zoom:1;}

a{ color:#333; text-decoration:none;}
a:hover{ color:#f33; text-decoration:underline;}


// top
.top{
    height: 30px;background:#F5F5F5;
    .container{
            width: 1200px;height: 30px;margin: 0 auto;
            
                a{
                    font-size: 14px;line-height: 30px;
                }
            .top-l{
                float: left;
                // width: 288px;height: 30px;
               
                span:nth-child(1),span:nth-child(2){
                    margin-right: 17px;
                }
                .login,.register{
                    color: #3366CC;
                   
                }
                
                
            }
            .top-r{
                
                ul{
                    li{
                        float: right;padding-right: 20px;
                        
                       } 
                    .sj{

                        .ewm{
                            display: none;
                            position: absolute;
                            top: 29px;
                            left:790px;
                            padding: 20px;
                            width: 130px;
                            height: 130px;
                            border: 1px solid #ededed;
                            background: #fff;
                        }
                    }
                    .sj:hover>.ewm{
                            display: block;
                    }
               
                    }
                    
                       
                   
             
                   
                }
            }
    }

    .logo{
        .logo-l{
            padding: 30px 160px;
        }
    }

    .goodsCart{
        height: 414px;width: 1200px;margin:0 auto;
       
}
    