.lb{
    width: 1280 px;height: 2300px;
    .container{
        width: 1200px;margin:0 auto;

        .lb-idx{
            width: 1200px;height: 66px;
            h4{
                font-size: 12px;line-height: 66px;
                span{
                    display: block;float: left;
                }
                .red-color{
                    color:red;
                }
            }
        }
        .jies{
            min-height: 118px;width: 1200px;background:#F7F7F7;
        }
        .more{
            width: 1200px;height: 24px;font-size: 12px;text-align: center;line-height: 24px;
        }
        .imp{
            width: 980px;
            height: 1878px;border:1px solid #ddd;box-sizing: border-box;float: left;
             .imph{
                height: 40px;background:#F7F7F7;
                li{
                    float: left;margin-right: 30px;font-size: 12px;line-height: 40px;
                }
                .li1{padding-left: 15px;}
            }

            .goodslist{
                ul{
                    width: 980px;
                    height: 1838px;
                    li{
                    width: 220px;padding-right: 25px;height: 300px;text-align: center;float: left;padding-top: 46px;font-size:14px;
                        .price{color:red;}
                        
                    img{
                        width: 192px;height: 160px;
                  
                    }
                }
                }
            }
        }



        .gg{
            width: 220px;height: 1878px;float: right;text-align: center;font-size: 14px;color:#000;
            h4{
                height: 40px;background:#ddd;line-height: 40px;
            }
            li{
                padding-top: 20px;
            }
            p{
                line-height: 30px;
            }
            .red-color{
                color:#FF3333;
            }
        }

        
         
    }                
                
}    
               
  .jinxing{
      height: 430px;width: 1280px;
      .container{
          width: 1200px;margin:0 auto;height: 430px;
          h4{height: 78px;font-size: 14px;text-align: center;}
          
      }
      .search{
        width: 540px;float: left;height: 40px;text-align: center;padding-top: 48px;padding-left: 280px;
      
          .search-text{
              width: 464px;height: 40px;border:2px solid #EC3639;box-sizing: border-box;
          }
          .search-btn{
           display: block;width: 76px;height: 40px; background: #EC3639;box-sizing: border-box;float: right;overflow: hidden;
          }
      }
  }

  .footer{
      border-top: 2px solid #000;
  
            
  }         
                
               
            
