/*top*/
.login_top {
    padding-top: 12px;
    height: 120px;
    img {
      padding-right: 10px;
      background: url(../img/top-bd.png) no-repeat right center;
    }
    span {
      font-size: 10px;
    }
    a {
      float: right;
      font-size: 10px;
      line-height: 82px;
      &:nth-of-type(1) {
        color: orange;
        display: inline-block;
        padding-left: 13px;
      }
    }
  }
  /*register_main*/
  .register_main {
    height: 763px;
    border: 1px solid #ccc;
    header {
      height: 59px;
      background: #fafafa;
      padding-left: 92px;
      margin-bottom: 30px;
      span {
        color: #99999f;
        font-size: 16px;
        line-height: 60px;
      }
    }
    article {
      float: left;
     
      .user_phone {
        height: 44px;
        span {
          padding-left: 58px;
          color: orange;
          height: 40px;
          width: 250px;
          font-size: 14px;
          border-top: 1px solid #e02d2d;
        }
      }
      .phone_number {
        margin-top: 27px;
        span {
          font-size: 16px;
        }
        input {
          margin-left: 22px;
          width: 290px;
          height: 40px;
          border: 1px solid #ccc;
        }
        // .no{display:none;}
        p {
          font-size: 10px;
          color: #ccc;
          margin-left: 81px;
        }
      }
      .pc_code {
        margin-top: 17px;
        span {
          &:nth-of-type(1) {
            font-size: 16px;
          }
          &:nth-of-type(3) {
            font-size: 10px;
            color: skyblue;
          }
        }
      //  .no3{display:none;}
        input {
          margin-left: 22px;
          width: 170px;
          height: 40px;
          border: 1px solid #ccc;
        }
        p {
          font-size: 10px;
          color: #ccc;
          margin-left: 81px;
        }
        #showcode {
          display: inline-block;
          vertical-align: middle;
          width: 98px;
          height: 40px;
          background: #58bc58;
        }
      }
      
     
      .password {
        margin-top: 17px;
        span {
          font-size: 16px;
        }
        input {
          margin-left: 34px;
          width: 290px;
          height: 40px;
          border: 1px solid #ccc;
        }
        // .no2{display:none;}
        p {
          font-size: 10px;
          color: #ccc;
          margin-left: 81px;
        }
      }
      .repassword {
        margin-top: 17px;
        span {
          font-size: 16px;
        }
        input {
          width: 290px;
          height: 40px;
          border: 1px solid #ccc;
        }
        p {
          font-size: 10px;
          color: #ccc;
          margin-left: 81px;
        }
        // .ckp{display: none;}
      }
      .checkbox {
        font-size: 10px;
        margin-top: 28px;
        padding-left: 80px;
      }
      button {
        height: 40px;
        width: 290px;
        background: #dc2e2e;
        margin-left: 80px;
        margin-top: 25px;
        color: white;
        font-weight: bolder;
      }
    }
    aside {
      float: left;
      width: 251px;
      margin-left: 230px;
      span {
        font-size: 14px;
      }
      li {
        margin-top: 15px;
      }
    }
  }
  /*.register_main article .checkbox*/
  /*footert*/
  #login_register_footer_box {
    margin-top: 50px;
    border-top: 1px solid #ccc;
    height: 55px;
    .login_register_footer {
      a {
        line-height: 42px;
        font-size: 10px;
        padding-left: 5px;
        &:nth-of-type(1) {
          background: url(../img/fooer_bd.png) no-repeat right center;
        }
        &:nth-of-type(2) {
          background: url(../img/fooer_bd.png) no-repeat right center;
        }
      }
      span {
        font-size: 10px;
        float: right;
        line-height: 42px;
      }
    }
  }
  