#zol{
    width: 1280px;height: 100%;

   //  top

    .top{
       height: 30px;background:#F5F5F5;
       .container{
               width: 1200px;height: 30px;margin: 0 auto;
               
                   a{
                       font-size: 14px;line-height: 30px;
                   }
               .top-l{
                   float: left;
                   // width: 288px;height: 30px;
                  
                   span:nth-child(1),span:nth-child(2){
                       margin-right: 17px;
                   }
                   .login,.register{
                       color: #3366CC;
                      
                   }
                   
                   
               }
               .top-r{
                   
                   ul{
                       li{
                           float: right;padding-right: 20px;
                           
                          } 
                       .sj{

                           .ewm{
                               display: none;
                               position: absolute;
                               top: 29px;
                               left:790px;
                               padding: 20px;
                               width: 130px;
                               height: 130px;
                               border: 1px solid #ededed;
                               background: #fff;
                           }
                       }
                       .sj:hover>.ewm{
                               display: block;
                       }
                  
                       }
                       
                          
                      
                
                      
                   }
               }
       }


    


  //   header

   .header{
       height:90px;
       .container{
           width: 1200px;height: 60px;margin: 0 auto;padding-top: 30px;
           .fixed{position: fixed;left:0;top:0;right:0;}
           .mgb{margin-top:666px;}
          .header-l{
              width: 218px;float: left;height: 60px;
              .city-location{
                  float: right;
              }
          }

          .header-c{
             width: 540px;float: left;height: 36px;padding-bottom: 24px;margin-left: 70px;
             .search{
                 width: 540px;
               .search-text{
                   width: 464px;height: 36px;border:2px solid #EC3639;box-sizing: border-box;
               }
               .search-btn{
                display: block;width: 76px;height: 36px; background: #EC3639;box-sizing: border-box;float: right;overflow: hidden;
               }
           }
       }
           .header-r{
               float: right;width: 360px;height: 30px;font-size: 18px;text-align: center;
             
              
               .coupon{
                   padding:0 20px;
               }
               i{
                   font-size: 20px;
               }
             
           }

         
       }
   }

  // nav

   .nav{
       height: 68px;
       .container{
           width: 1200px;height: 68px;margin: 0 auto;
           .nav-all{
               padding-top: 30px;width: 1200px;height: 38px;
               .nli1{
                   width: 160px;height: 38px;margin-right: 30px;background: #EC3639;float: left;text-align: center;font-size:14px;
                    
                   .erji{
                       position: absolute; left: 40px;top:188px;z-index: 1000;background-color:#454545;color:#FFFFFF; width: 160px;height: 400px;display:none;
                       li{
                           height: 54px;width: 160px;font-size: 16px;border-bottom: 1px solid #000;

                           
                           .nr{
                               width: 620px;height: 400px;
                               position: absolute;top: 0px;left:160px;
                               display: none;
                               // background-image:url(../img/n1.jpg)
                               
                           }
                           .lj{position: absolute;top: 0;left: 160px;width: 620px;height: 400px;display:none;
                               p{
                                   z-index: 10000;float: left;padding: 10px 15px;
                               }
                           }
                           i{
                               width: 16px;height: 22px;font-size: 22px;padding-left: 24px;line-height: 54px;
                           }

                           .e1{
                               padding-left: 10px;padding-right: 30px;width: 34px;
                           }
                       }
                       li:hover{
                           background:#fff;color:#000;

                       }
                       li:hover>.nr{
                               display: block;
                       }
                       li:hover>.lj{
                           display:block;
                       }

                       .lid{
                           border-bottom: 0px;
                       }
                   }
                   
               }
               .nli1:hover>.erji{
                display:block;
            }
           
           ul{
               width: 1002px;height: 38px;float: right;
             
               
               li{
                   float: left;
                   padding-right: 52px;
                   width: 74px;
                   height: 38px;
                   font-size: 18px;
                   line-height: 38px;
                   text-align: center;
               }
              
               ul:nth-child(2),ul:nth-child(3){
                   width: 35px;height: 38px;
               }
               ul:nth-child(3),ul:nth-child(4){
                   width: 70px;height: 38px;padding-right: 52px;
               }
             
             }   


             
          }
       
       }
   }

        .xq{
            width: 1280px;min-height: 800px;
            .container{
                width: 1200px;min-height: 800px;margin:0 auto;
                .xqs{width: 1200px;height: 30px;line-height: 30px;}
                .xqbox{width: 1000px;height: 856px;border:1px solid #ccc;}
                .xql{
                    float: left;width: 450px;
               
                /*主容器*/
                .con-FangDa{
                    // width: 1200px;
                    height: auto;
                    margin: 10px auto;
                    background-color:#fff;
                }
                /*正常容器*/
                .con-fangDaIMg{
                    width: 300px;
                    height: 450px;
                    position: relative;
                    background-color: #454545;
                }
                .con-fangDaIMg > img{
                    width: 100%;
                    height:100%;
                }
                /*滑块*/
                .magnifyingBegin{
                    width: 150px;
                    height: 175px;
                    left: 0;
                    top: 0;
                    background-color: #454545;
                    opacity: 0.5;
                    filter:alpha(opacity=50);
                    position: absolute;
                    cursor: move;
                    display: none;
                }
                /*放大镜显示区域*/
                .magnifyingShow{
                    width: 450px;
                    height: 514px;
                    display: none;
                    position: absolute;
                    right: -470px;
                    top: 0;
                    overflow: hidden;
                    background-color: #454545;
                }
                .magnifyingShow > img{
                    width: 900px;
                    height: 1350px;
                    margin-left:0;
                    margin-top: 0;
                }
                /*设置选择图片容器*/
                .con-FangDa-ImgList{
                    margin-top:10px;
                    height:54px;
                    width:320px;
                    list-style: none;
                }
                .con-FangDa-ImgList > li{
                    margin-right:7px;
                    width: 50px;
                    height: 50px;
                    float: left;
                    cursor: pointer;
                    border: 2px solid #666;
                    background-color: #454545;
                    text-align:center;
                }
                
                .con-FangDa-ImgList > li > img{
                    vertical-align:top;
                    display:inline;
                    width:auto;
                    height:50px;
                }
                .con-FangDa-ImgList > .active{
                    border-color:#000;
                }
            }


                .xqr{
                    float: right;width: 550px;
                   
                    xqr1 {
                        padding-top: 22px;
                       
                        font: 16px/22px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
                    }
                    
                   .xq-price-panel{
                        margin: 0 0 0;
                        padding: 5px 10px;
                        background: #f7f7f7;
                        
                        dl{
                           
                            position: relative;
                            zoom: 1;
                            line-height: 30px;
                        
                    .xq-sale-price{

                        .xq-price {
                            display:block;
                            height: 32px;
                            overflow: hidden;
                            font-size: 16px;
                           
                            color: #c00;
                    }
                } 
                    dl {
                        display: block;
                        -webkit-margin-before: 1em;
                        -webkit-margin-after: 1em;
                        -webkit-margin-start: 0px;
                        -webkit-margin-end: 0px;
                        line-height: 30px;
                        dt {
                            display: block;float: left;
                        }
                        dd{
                            overflow: hidden;
                            zoom: 1;
                        }
                    }
                    .sale-activity{
                    
                        li {
                            position: relative;
                            padding: 4px 0 4px 40px;
                            line-height: 22px;
                            color: #666;
                        }
                    }
                    }
                    
                   }

                   .xxxx{
                       div{
                           height: 30px;
                       }

                       .buys{width: 198px;height: 30px;
                        span{display:block;float: left;}
                        input{display:block;width: 30px;float: left;text-align: center;}
                    }
                   }
                   
                }
            }
        }

   .main{
       width: 1280px;height: 1000px;background:#ccc;
   }

   .footer{
    width: 1280px;background-color:#F7F7F7;
    .container{
        height: 466px;margin: 0 auto;width: 1200px;
        .footer-t{
            height: 110px;width: 1200px;overflow: hidden;
            li{
                float: left;
                width: 200px;height: 110px;overflow: hidden;
                i{
                    font-size: 50px;color:#00AE75;float: left;
                    width: 50px;line-height: 110px;
                }
              
                .p1{
                    font-size: 18px; height: 24px;padding-top: 36px;padding-left: 60px;
                }
                .p2{
                    
                    font-size: 12px;height: 12px; padding-left: 60px;padding-top: 10px;
                }
          
            }
            
        }
        .footer-c{
            height: 180px;width: 1200px;
            li{
                float: left;width: 176px;
                p{
                    font-size: 14px;line-height: 28px;
                }
                .chak{
                    width: 82px;height: 27px;background: #EC3639;
                }
                i{
                    float: left;width: 42px;height: 38px;font-size: 38px;padding-right: 18px;
                }
            }
           .kefu{
               width: 270px;
           }
           .xiangx{
              float: right;
           }
        }

        .footer-b{
            height: 174px;width: 1200px;overflow: hidden;background-color:#2D2D2D;color:#FFFFFF;padding-top: 26px;
            .fbl{
                    float: left;
                p{
                    height: 44px;
                    span{
                        display:block;padding-right: 15px;float: left;border-right: 1px solid #ddd;padding-left: 15px;
                    }
                    .zai,.guan{
                        padding-left: 0;
                    }
                }
            }
            .fbr{
                float: right;
                i{
                    width: 28px;height: 20px;font-size: 20px;padding-right: 10px;
                }
            }
        }
    }

}




}