@charset "UTF-8";
#zol { width: 1280px; height: 100%; }

#zol .top { height: 30px; background: #F5F5F5; }

#zol .top .container { width: 1200px; height: 30px; margin: 0 auto; }

#zol .top .container a { font-size: 14px; line-height: 30px; }

#zol .top .container .top-l { float: left; }

#zol .top .container .top-l span:nth-child(1), #zol .top .container .top-l span:nth-child(2) { margin-right: 17px; }

#zol .top .container .top-l .login, #zol .top .container .top-l .register { color: #3366CC; }

#zol .top .container .top-r ul li { float: right; padding-right: 20px; }

#zol .top .container .top-r ul .sj .ewm { display: none; position: absolute; top: 29px; left: 790px; padding: 20px; width: 130px; height: 130px; border: 1px solid #ededed; background: #fff; }

#zol .top .container .top-r ul .sj:hover > .ewm { display: block; }

#zol .header { height: 90px; }

#zol .header .container { width: 1200px; height: 60px; margin: 0 auto; padding-top: 30px; }

#zol .header .container .fixed { position: fixed; left: 0; top: 0; right: 0; }

#zol .header .container .mgb { margin-top: 666px; }

#zol .header .container .header-l { width: 218px; float: left; height: 60px; }

#zol .header .container .header-l .city-location { float: right; }

#zol .header .container .header-c { width: 540px; float: left; height: 36px; padding-bottom: 24px; margin-left: 70px; }

#zol .header .container .header-c .search { width: 540px; }

#zol .header .container .header-c .search .search-text { width: 464px; height: 36px; border: 2px solid #EC3639; box-sizing: border-box; }

#zol .header .container .header-c .search .search-btn { display: block; width: 76px; height: 36px; background: #EC3639; box-sizing: border-box; float: right; overflow: hidden; }

#zol .header .container .header-r { float: right; width: 360px; height: 30px; font-size: 18px; text-align: center; }

#zol .header .container .header-r .coupon { padding: 0 20px; }

#zol .header .container .header-r i { font-size: 20px; }

#zol .nav { height: 68px; }

#zol .nav .container { width: 1200px; height: 68px; margin: 0 auto; }

#zol .nav .container .nav-all { padding-top: 30px; width: 1200px; height: 38px; }

#zol .nav .container .nav-all .nli1 { width: 160px; height: 38px; margin-right: 30px; background: #EC3639; float: left; text-align: center; font-size: 14px; }

#zol .nav .container .nav-all .nli1 .erji { position: absolute; left: 40px; top: 188px; z-index: 1000; background-color: #454545; color: #FFFFFF; width: 160px; height: 400px; display: none; }

#zol .nav .container .nav-all .nli1 .erji li { height: 54px; width: 160px; font-size: 16px; border-bottom: 1px solid #000; }

#zol .nav .container .nav-all .nli1 .erji li .nr { width: 620px; height: 400px; position: absolute; top: 0px; left: 160px; display: none; }

#zol .nav .container .nav-all .nli1 .erji li .lj { position: absolute; top: 0; left: 160px; width: 620px; height: 400px; display: none; }

#zol .nav .container .nav-all .nli1 .erji li .lj p { z-index: 10000; float: left; padding: 10px 15px; }

#zol .nav .container .nav-all .nli1 .erji li i { width: 16px; height: 22px; font-size: 22px; padding-left: 24px; line-height: 54px; }

#zol .nav .container .nav-all .nli1 .erji li .e1 { padding-left: 10px; padding-right: 30px; width: 34px; }

#zol .nav .container .nav-all .nli1 .erji li:hover { background: #fff; color: #000; }

#zol .nav .container .nav-all .nli1 .erji li:hover > .nr { display: block; }

#zol .nav .container .nav-all .nli1 .erji li:hover > .lj { display: block; }

#zol .nav .container .nav-all .nli1 .erji .lid { border-bottom: 0px; }

#zol .nav .container .nav-all .nli1:hover > .erji { display: block; }

#zol .nav .container .nav-all ul { width: 1002px; height: 38px; float: right; }

#zol .nav .container .nav-all ul li { float: left; padding-right: 52px; width: 74px; height: 38px; font-size: 18px; line-height: 38px; text-align: center; }

#zol .nav .container .nav-all ul ul:nth-child(2), #zol .nav .container .nav-all ul ul:nth-child(3) { width: 35px; height: 38px; }

#zol .nav .container .nav-all ul ul:nth-child(3), #zol .nav .container .nav-all ul ul:nth-child(4) { width: 70px; height: 38px; padding-right: 52px; }

#zol .xq { width: 1280px; min-height: 800px; }

#zol .xq .container { width: 1200px; min-height: 800px; margin: 0 auto; }

#zol .xq .container .xqs { width: 1200px; height: 30px; line-height: 30px; }

#zol .xq .container .xqbox { width: 1000px; height: 856px; border: 1px solid #ccc; }

#zol .xq .container .xql { float: left; width: 450px; /*主容器*/ /*正常容器*/ /*滑块*/ /*放大镜显示区域*/ /*设置选择图片容器*/ }

#zol .xq .container .xql .con-FangDa { height: auto; margin: 10px auto; background-color: #fff; }

#zol .xq .container .xql .con-fangDaIMg { width: 300px; height: 450px; position: relative; background-color: #454545; }

#zol .xq .container .xql .con-fangDaIMg > img { width: 100%; height: 100%; }

#zol .xq .container .xql .magnifyingBegin { width: 150px; height: 175px; left: 0; top: 0; background-color: #454545; opacity: 0.5; filter: alpha(opacity=50); position: absolute; cursor: move; display: none; }

#zol .xq .container .xql .magnifyingShow { width: 450px; height: 514px; display: none; position: absolute; right: -470px; top: 0; overflow: hidden; background-color: #454545; }

#zol .xq .container .xql .magnifyingShow > img { width: 900px; height: 1350px; margin-left: 0; margin-top: 0; }

#zol .xq .container .xql .con-FangDa-ImgList { margin-top: 10px; height: 54px; width: 320px; list-style: none; }

#zol .xq .container .xql .con-FangDa-ImgList > li { margin-right: 7px; width: 50px; height: 50px; float: left; cursor: pointer; border: 2px solid #666; background-color: #454545; text-align: center; }

#zol .xq .container .xql .con-FangDa-ImgList > li > img { vertical-align: top; display: inline; width: auto; height: 50px; }

#zol .xq .container .xql .con-FangDa-ImgList > .active { border-color: #000; }

#zol .xq .container .xqr { float: right; width: 550px; }

#zol .xq .container .xqr xqr1 { padding-top: 22px; font: 16px/22px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; }

#zol .xq .container .xqr .xq-price-panel { margin: 0 0 0; padding: 5px 10px; background: #f7f7f7; }

#zol .xq .container .xqr .xq-price-panel dl { position: relative; zoom: 1; line-height: 30px; }

#zol .xq .container .xqr .xq-price-panel dl .xq-sale-price .xq-price { display: block; height: 32px; overflow: hidden; font-size: 16px; color: #c00; }

#zol .xq .container .xqr .xq-price-panel dl dl { display: block; -webkit-margin-before: 1em; -webkit-margin-after: 1em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; line-height: 30px; }

#zol .xq .container .xqr .xq-price-panel dl dl dt { display: block; float: left; }

#zol .xq .container .xqr .xq-price-panel dl dl dd { overflow: hidden; zoom: 1; }

#zol .xq .container .xqr .xq-price-panel dl .sale-activity li { position: relative; padding: 4px 0 4px 40px; line-height: 22px; color: #666; }

#zol .xq .container .xqr .xxxx div { height: 30px; }

#zol .main { width: 1280px; height: 1000px; background: #ccc; }

#zol .footer { width: 1280px; background-color: #F7F7F7; }

#zol .footer .container { height: 466px; margin: 0 auto; width: 1200px; }

#zol .footer .container .footer-t { height: 110px; width: 1200px; overflow: hidden; }

#zol .footer .container .footer-t li { float: left; width: 200px; height: 110px; overflow: hidden; }

#zol .footer .container .footer-t li i { font-size: 50px; color: #00AE75; float: left; width: 50px; line-height: 110px; }

#zol .footer .container .footer-t li .p1 { font-size: 18px; height: 24px; padding-top: 36px; padding-left: 60px; }

#zol .footer .container .footer-t li .p2 { font-size: 12px; height: 12px; padding-left: 60px; padding-top: 10px; }

#zol .footer .container .footer-c { height: 180px; width: 1200px; }

#zol .footer .container .footer-c li { float: left; width: 176px; }

#zol .footer .container .footer-c li p { font-size: 14px; line-height: 28px; }

#zol .footer .container .footer-c li .chak { width: 82px; height: 27px; background: #EC3639; }

#zol .footer .container .footer-c li i { float: left; width: 42px; height: 38px; font-size: 38px; padding-right: 18px; }

#zol .footer .container .footer-c .kefu { width: 270px; }

#zol .footer .container .footer-c .xiangx { float: right; }

#zol .footer .container .footer-b { height: 174px; width: 1200px; overflow: hidden; background-color: #2D2D2D; color: #FFFFFF; padding-top: 26px; }

#zol .footer .container .footer-b .fbl { float: left; }

#zol .footer .container .footer-b .fbl p { height: 44px; }

#zol .footer .container .footer-b .fbl p span { display: block; padding-right: 15px; float: left; border-right: 1px solid #ddd; padding-left: 15px; }

#zol .footer .container .footer-b .fbl p .zai, #zol .footer .container .footer-b .fbl p .guan { padding-left: 0; }

#zol .footer .container .footer-b .fbr { float: right; }

#zol .footer .container .footer-b .fbr i { width: 28px; height: 20px; font-size: 20px; padding-right: 10px; }
